


<div class="cart_title" >Su carrito de compras!!</div>
<td>Id del carrito<%= cart.id%></td>
<table border="1">
<td>Cantidad</td>
<td >Producto</td>
<td >Precio Individual</td>
<td >Total de la linea</td>
<td >Eliminar linea</td>
<%= render(cart.line_items) %>
<tr class="total_line" ></tr>
</table>
<div>Total
<%= number_to_currency(cart.total_price) %></div>

<td><%= link_to 'Editar', edit_cart_path(cart) %></td>



<%= button_to 'Vaciar carrito' , cart, :method => :delete,:confirm => 'Esta seguro?' %>