<h1>Editing cart</h1>

Desgloce detallado para editar
<%=  nested_form_for(@cart) do |f| %>

  	<h3>  Lineas de venta</h3>
   	<%= f.fields_for :line_items do |task| %>
  		<%=f.label :quantity%>
    	<%= task.text_field :quantity %>
	   	<%= task.fields_for :product do |task2| %>
	  		<%=task2.label :name%>
	    	<%= task2.text_field :name %><br>
	    	<%=task2.label :price%>
	    	<%= task2.text_field :price , :value => number_to_currency(task2.object.price, :precision => 2) %></br>
	    	--------------------
		<% end %>
	<% end %>
	 Total: <%= number_to_currency(@cart.total_price) %></br>
	 <%= f.submit "Guardar cambios"%>
<% end %>


<%= link_to 'Show', @cart %> |
<%= link_to 'Back', carts_path %>
