<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @order.member_id %>
</p>

<p>
  <b>Orderdate:</b>
  <%= @order.OrderDate %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
