


<div class="cart_title" >Su carrito de compras!!</div>
<td>Id del carrito<%= session_cart.id%></td>
<table border="1">
<td>Cantidad</td>
<td >Producto</td>
<td >Precio Individual</td>
<td >Total de la linea</td>
<td >Eliminar linea</td>
<%= render(session_cart.session_line_items) %>
<tr class="total_line" ></tr>
</table>
<div>Total
<%= number_to_currency(session_cart.total_price) %></div>

<td><%= link_to 'Editar', edit_session_cart_path(session_cart) %></td>



<%= button_to 'Vaciar carrito' ,session_cart, :method => :delete,:confirm => 'Esta seguro?' %>